* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Open sans;
    font-weight: normal;
    -webkit-overflow-scrolling: touch;
}

body {
    overflow: hidden;
    height: 100vh;
}

.body-wrapper {
    display: flex;
    flex-direction: column;
    height: calc(100% - 70px);
    width: 100vw;
    overflow-x: hidden;
    top: 70px!important;
    position: fixed;
    z-index: 21;
}

button {
    width: 100%;
    padding: 10px;
    border-style: hidden;
    background-color: #0044AA;
    border-radius: 10px;
    height: 50px;
    background: #0044AA;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-size: 15px;
}

h1 {
    position: relative;
    margin-top: 20px;
}

img {
    width: 100%;
    height: 100%;
}

#side-div {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
}

#side-div>img {
    height: 100vh!important;
    background-color: #0044AA;
    background-image: url('../assets/noise.svg');
}

input {
    padding-left: 15px;
    border-style: hidden;
    width: 100%;
    height: 50px;
    color: black;
    border: 2px solid white;
    background: #F5F5F5;
    opacity: 0.95;
    border-radius: 9.16731px;
    -webkit-appearance: none;
    line-height: normal;
    font-size: 16px;
}

input::placeholder {
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    white-space: normal;
}

::-webkit-input-placeholder {
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    white-space: normal;
}

input:hover,
input:focus {
    background-color: white;
    opacity: 0.95;
    border: 2px solid #0266FF;
    box-sizing: border-box;
    border-radius: 9.16731px;
}

a:focus,
button:focus,
input:focus {
    outline: none;
}

a {
    color: inherit;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
}

.header {
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    font-size: 13.5px;
    background-color: white;
    position: fixed;
    top: 0;
    width: 50%;
    z-index: 20;
    overflow: hidden;
    height: 70px;
}

#logo {
    position: fixed;
}

#logo img {
    width: 155px;
    height: 40px;
}

.login-form-div {
    width: 50%;
    background-color: white;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    text-align: center;
    /* justify-content: center; */
    position: relative;
    margin-top: 70px;
    height: 100%;
}

.sidebar-image-div {
    width: 50%;
    background-color: #0044AA;
    background-image: url("../assets/noise.svg");
}

.form-container {
    text-align: center;
    justify-content: center;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    /* margin-top: 70px; */
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

.form {
    /* display: -ms-flexbox; */
    /* display: -webkit-flex; */
    /* display: flex; */
    /* flex-direction: column; */
    text-align: center;
    /* justify-content: center; */
    position: relative;
    margin-top: 7px;
    width: 100%;
    /* flex-shrink: 0; */
}

.form>div {
    margin: 8px;
}

.form-ele {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    text-align: center;
    justify-content: center;
}

.form-ele>div {
    font-size: 13px;
}

.checkboximg {
    display: none;
}

.remember-me-checkbox {
    text-align: left;
    position: relative;
    top: 12px;
    width: 15px;
    height: 15px;
    background-color: rgba(220, 220, 220, 0.8);
    border-radius: 4px;
    padding: 1px;
    left: 2px;
    margin-right: 4px;
}

.rem-me {
    text-align: left;
    position: relative;
    top: 10px;
    left: 5px;
}

.forgot-pass {
    text-align: right;
    position: relative;
    top: 10px;
    color: #0266FF;
    flex-grow: 1;
}

#is-login-remembered {
    height: 15px;
    background-color: #F5F5F5;
}

#forgot-form {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    text-align: center;
    justify-content: center;
    position: relative;
    margin-top: 20px;
    width: 100%;
}

.message-div {
    position: relative;
    margin-bottom: 5px;
    margin-top: 10px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 141.5%;
    text-align: center;
}

#forgot-form>div {
    flex-grow: 1;
    position: relative;
    margin-left: 3px;
    margin-right: 3px;
}

.footer {
    text-align: center;
    font-family: Open Sans;
    font-style: normal;
    font-size: 16px;
    background-color: white;
    margin-left: 2.5%;
    margin-right: 2.5%;
    width: 95%;
    margin-top: 35px;
    position: absolute;
    bottom: 20px;
}

#footer-forgot {
    margin-top: 33%;
}

#forgot-login-div {
    margin-top: 180px;
}

#newpassdiv {
    margin-top: 15vh;
}

.errors {
    display: flex;
    flex-direction: row;
    justify-content: center;
    visibility: hidden;
    font-size: 15px;
    margin-top: 5px;
    color: red;
    flex-shrink: 0;
}

@media only screen and (max-width:1024px) {
    .header {
        width: 100%;
    }
    #page-container {
        overflow-y: auto;
    }
    .sidebar-image-div {
        display: none;
    }
    .login-form-div {
        width: 100%;
        /* height: 80%; */
    }
    .form-container,
    .footer {
        width: 78%;
        margin-right: 11%;
        margin-left: 11%;
    }
}

@media only screen and (max-height:600px) {
    .header {
        width: 100%;
    }
    #page-container {
        overflow-y: auto;
    }
    .sidebar-image-div {
        display: none;
    }
    .login-form-div {
        width: 100%;
        margin-top: 80px;
    }
    .form-container {
        width: 70%;
        margin-right: 15%;
        margin-left: 15%;
    }
    .footer {
        position: relative;
        width: 70%;
        margin-right: 15%;
        margin-left: 15%;
        top: 30px;
        margin-bottom: 15px;
    }
    /* #reg-footer {
        padding-bottom: 15px;
    } */
    #newpassdiv {
        margin-top: 5%;
    }
}

@media only screen and (max-height:700px) {
    .login-form-div {
        margin-top: 15px;
    }
    #forgot-login-div {
        margin-top: 100px;
    }
}

@media only screen and (max-width:500px) {
    .header {
        width: 100%;
        bottom: 7%;
    }
    .sidebar-image-div {
        display: none;
    }
    .login-form-div {
        width: 100%;
    }
    .form-container,
    .footer {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        /* position: fixed; */
        /* margin-top: 10%; */
    }
    .form-ele button:hover {
        opacity: 0.75;
    }
}


/* //loader css */

@keyframes spinloader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#l-loader {
    display: none;
}